* {
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: rgba(229, 84, 115, 0.1);
    padding: 2% 10%;
    display: flex;
    gap: 8%;
    margin-bottom: 6.5%;
    justify-content: center;
    align-items: center;
  }
  
  .header-button {
    width: 50%;
  }
  
  .header-button .title {
    font-size: 55px;
    line-height: normal;
    color: #272727;
    font-weight: 800;
  }
  
  .header-button .subtitle {
    color: #27272799;
    opacity: 0.6;
    font-size: 16px;
    font-weight: 400;
    margin: 32px 0px;
  }
  
  .button {
    background-color: #e55473;
    border: 0;
    padding: 15px 25px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 700;
    color: white;
  }
  
  .header-image img {
    width: 460px;
  }
  
  .feature-prompt {
    text-align: center;
  }
  
  .feature-prompt h2 {
    color: #272727;
    font-weight: 800;
    font-size: 28px;
    text-align: center;
    margin: 2% 0%;
  }
  
  .feature-prompt h3 {
    font-size: 18px;
    color: rgba(39, 39, 39, 0.6);
    font-weight: 400;
    margin: 2% 0%;
  }
  
  .flower-tree-container {
    display: flex;
    padding: 0% 14%;
    gap: 15px;
  }
  
  .flower-tree {
    height: 141px;
    border-radius: 300px 300px 0px 0px;
    padding: 10% 0%;
    display: flex;
    flex-direction: column;
    gap:10%;
  }
  
  .image {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .image img {
      width: 56%;
  }
  
  .bg1 {
      background-color: rgba(167, 33, 98, 0.15);
  }
  
  .bg2 {
      background-color: rgba(5, 151, 160, 0.15);
  }
  
  .bg3 {
      overflow: hidden;
      background-color: rgba(71, 125, 17, 0.15);
  }
  
  .texts {
      display: flex;
  }